body {
  background-color:  #f3f0e6;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #2fa889;
}

h2 {
  color: #2f5d3a;
  border-bottom: 1px solid #8fa58f;
  padding-bottom: 5px;
}

.catch {
  font-size: 15px;
  color: #5f6f5f;
  letter-spacing: 1px;
  border: 1px dashed #8fa58f;
  padding: 10px;
}

nav .current {
  color: #f3f0e6;
  font-weight: normal;
}

nav {
  display: flex;
  gap: 24px;
  align-items: center;
  flex-wrap: wrap;
  padding: 14px 15px;
  background-color: #222;
}

nav a {
  color: #f3f0e6;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 1.1em;
  font-weight: 600;
}
nav a:hover {
  color: #d94a3a;
}

.live-date {
  color: #2f5d3a;
}

.live-card {
  border: 2px solid #8fa58f;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 6px;
}

.live-card img {
  max-width: 350px;
  width: 100%;
  height: auto;
}

.past-live {
  display: none;
}

.under-construction {
  color: #7a4b2a;
  font-weight: bold;
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  justify-content: center;
  align-items: center;
}

.lightbox.open {
  display: flex;
}

.lightbox img {
  max-width: 80%;
  max-height: 80%;
  width: auto;
  height: auto;
}

.lightbox-close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 40px;
  cursor: pointer;
  background-color: #2fa889;
}

.disc-card {
  border: 3px solid #2f5d3a;
  padding: 24px;
  margin: 30px 0;
  border-radius: 8px;
}

.disc-card h2 {
  margin-top: 0;
   color: #d97941;
}

.disc-date {
  color: #2f5d3a;
  font-weight: bold;
}

.disc-card li {
  margin-bottom: 6px;
}

.live-title {
  font-size: 1.30em;
  color: #c62828;
}

.sns-list li {
  margin-bottom: 12px;
}

.youtube-main {
  font-size: 1.3em;
}

.construction-text {
  font-size: 1.3em;
}

.fade-title {
  background: linear-gradient(
    to right,
    #20b2aa 0%,
    #20b2aa 20%,
    transparent 100%
  );

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  font-size: 0.7em;
  font-weight: normal;
}

.page-comment {
  font-size: 0.55em;
  font-weight: normal;
  color: #666;
  margin-left: 10px;
}

.home-info {
  font-size: 0.55em;
  font-weight: normal;
  color: #000;
  margin-left: 12px;
}

.home-heading {
  font-size: 1.3em;
}

.marimo-president {
  text-align: center;
  margin-top: 70px;
  position: relative;
}

.marimo-president img {
  width: 50%;
  height: auto;
}

.sleep-z {
  position: absolute;
  font-size: 22px;
  font-weight: bold;
  color: #f3f0e6;
  pointer-events: none;
  animation: float-z 2s ease-out forwards;
}

@keyframes float-z {
  0% {
    opacity: 0;
    transform: translate(0, 0) scale(0.7);
  }

  30% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translate(40px, -80px) scale(1.3);
  }
}

.counter-area {
  text-align: center;
  margin-top: 10px;
}